html, body {
	height: 	100%;
	top: 		0px;
	left: 		0px;

	margin: 	0px;
	padding: 	0px;
}

div, table, p, a, button {
	border-radius: 0;
	text-decoration: none;


	transition: color 0.5s, background-color 0.5s, opacity 0.5s, font-size 0.5s, background-size 1s, background-position 1s, left 0.5s, right 0.5s, top 0.5s, bottom 0.5s, width 0.5s, height 0.5s, display 0.5s, position 0.5s;
	-webkit-transition: color 0.5s, background-color 0.5s, opacity 0.5s, font-size 0.5s, background-size 1s, background-position 1s, left 0.5s, right 0.5s, top 0.5s, bottom 0.5s, width 0.5s, height 0.5s, display 0.5s, position 0.5s;

}

a:hover {
	text-decoration: none;
}

#viewport {
	background-image: 		URL('../img/splash/1920.png');
	background-attachment: 	fixed;
	background-position: 	center center;
	background-repeat: 		no-repeat;
	background-size: 		cover;
	background-color: 		#222;

	color: 					#ddd;
	margin: 				0px;
	padding: 				0px;
	height: 				100%;

	overflow: 				auto;
}

.panel {
	background-color: 	#3D4142;
	opacity: 			0.8;
	border-radius: 		0;
	border:				none;
}

.icon-bar {
	color: 				#ddd;
	background-color: 	#ddd;
}
.navbar-collapse {
	background-color: 	#000;
	position: 			absolute;
	left: 				0px;
	right: 				0px;
	top: 				0px;
	height: 			auto;
	padding-left: 		40px;
	padding-right: 		40px;
}

.navbar-toggle {
	float: 			left;
	margin-left: 	35px;
}


/** Classes */

.card {
	background-color: 	rgba(0, 0, 0, 0.8);
	box-shadow: 		rgba(0,0,0, 0.5) 0px 6px 12px -8px;
	padding: 			10px;
}

.alive:hover {
	background-color: rgba(100,100,100,0.9);
	cursor: pointer;
}

.spaceless 	{margin: 	0;}
.tight 		{padding: 	0;}
.padded-xs 	{padding: 	5px;}
.padded-sm 	{padding: 	10px;}
.padded-md 	{padding: 	20px;}
.padded-lg 	{padding: 	30px;}

.w32 {
	width: 	32px;
	height: 32px;
}

.w64 {
	width: 	64px;
	height: 64px;
}

.h200 {
	height: 200px;
}

.rusted {
	background-image: 		URL('../img/ico/protorust3.png');
	background-repeat: 		no-repeat;
	background-position: 	top right;
	background-size: 		contain;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.lighten-xs {
	background-color: rgba(100,100,100,0.7);
}
.lighten-sm {
	background-color: rgba(150,150,150,0.75);
}
.lighten-md {
	background-color: rgba(200,200,200,0.8);
}
.lighten-lg {
	background-color: rgba(255,255,255,0.85);
}